PORT=5000
MONGODB_URI=your_mongodb_atlas_connection_string_here
CLERK_SECRET_KEY=your_clerk_secret_key_here
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
FRONTEND_URL=http://localhost:3000

AI_API_KEY=your_ai_provider_key_here

APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_BUCKET_ID=
